

# --- API ---
GATEWAY_PORT=9999
AUTH_PORT=5555
API_PORT=4444
JWT_SECRET=SECRET
JWT_HEADER_KEY=KEY

# --- MONGODB ---
MONGO_ADMIN_USER=USERNAME
MONGO_ADMIN_PASS=PASSWORD
MONGO_USER=USERNAME
MONGO_PASS=PASSWORD
