
# --- API ---
API_PORT={PORT}

# --- GAME SERVER ---
GAME_SERVER_PORT={PORT_NUMBER}

# --- MONGODB ---
MONGO_ADMIN_USER={USERNAME}
MONGO_ADMIN_PASS={PASSWORD}
MONGO_USER={USERNAME}
MONGO_PASS={PASSWORD}
